$themes:(
  red-theme:(
     //一级色
    main:#c62f26,
    //常规色
    normal:#ff7200,
    //次要按钮鼠标背景色
    button_auxiliary_bgcolor:#fff,
    //次要按钮鼠标边框色
    button_auxiliary_bordercolor:#C9C9C9,
     //次要按钮鼠标悬浮颜色
    button_auxiliary_fontcolor:#5F5F5F,
    //次要按钮鼠标悬浮颜色
    button_auxiliary_hover_fontcolor:#5F5F5F,
    // 导航激活背景色
    nav_active_bgColor:#E63B2E
  ),
  blue-theme:(
    //一级色
    main:#1a66b1,
    //常规色
    normal:#3c8ddb,
     //次要按钮鼠标背景色
    button_auxiliary_bgcolor:#fff,
     //次要按钮鼠标边框色
    button_auxiliary_bordercolor:#C9C9C9,
      //次要按钮鼠标悬浮颜色
    button_auxiliary_fontcolor:#5F5F5F,
     //次要按钮鼠标悬浮颜色
    button_auxiliary_hover_fontcolor:#5F5F5F,
     // 导航激活背景色
    nav_active_bgColor:#3c8ddb
  ),
  green-theme:(
    //一级色
    main:#189a5a,
    //常规色
    normal:#4daf7b,
     //次要按钮鼠标背景色
    button_auxiliary_bgcolor:#fff,
     //次要按钮鼠标边框色
    button_auxiliary_bordercolor:#C9C9C9,
      //次要按钮鼠标悬浮颜色
    button_auxiliary_fontcolor:#5F5F5F,
     //次要按钮鼠标悬浮颜色
    button_auxiliary_hover_fontcolor:#5F5F5F,
    // 导航激活背景色
    nav_active_bgColor:#4daf7b
  ),
  alibaba-theme:(
    main:#fc7001,
    //常规色
    normal:#ffb142,
     //次要按钮鼠标背景色
    button_auxiliary_bgcolor:#fff,
     //次要按钮鼠标边框色
    button_auxiliary_bordercolor:#C9C9C9,
      //次要按钮鼠标悬浮颜色
    button_auxiliary_fontcolor:#5F5F5F,
     //次要按钮鼠标悬浮颜色
    button_auxiliary_hover_fontcolor:#5F5F5F,
    // 导航激活背景色
    nav_active_bgColor:#ffb142
  )
);